body {
  margin: 0;
}

nav {
  width: 100wv;
  height: 5rem;
  background: rgb(238,232,174);
  background: radial-gradient(circle, rgba(238,232,174,1) 0%, rgba(160,233,148,1) 100%);  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > * {
  margin: 0 10px;
}


/* .nav-left {
 align-items:
} */

div.RecipeCard {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.RecipeCard:hover {
  border: 1px solid #777;
}
div.RecipeCard img {
  width: 100%;
  height: auto;
}

nav button {
  background: none;
	/* color: inherit; */
	border: none;
	padding: 1em;
	font: inherit;
  font-variant: inherit;
	cursor: pointer;
	outline: inherit;
}

nav span {
  color:#06324a;
  font-weight:900;
  justify-content: center;
}

.HomePage {
  text-align: left;
}